[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-ckeditor = "*"
pilkit = "*"
django-imagekit = "*"
imgpy = "*"
moviepy = "*"
python-magic = "*"
libmagic = "*"
gunicorn = "*"
boto3 = "*"
psycopg2-binary = "*"
django-storages = "*"

[dev-packages]

[requires]
python_version = "3.9"
